*{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#profile{
    text-decoration: underline;
}
ul li a:hover{
    color: black;
}
header {
    display:flex;
    align-items: center;
    border-bottom: 5px solid grey;
    background-color:#eeeeee;
    position: sticky;
    top: 0px;
    z-index: 1;
   
}
.digitalindialogo{
    height: 63px;
    width:176px ;
   
}
navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
      
}
navbar ul li{
    margin-left: 100px;
    font-size: larger;
}
navbar ul li a{
    text-decoration: none;
   
}
navbar ul li a:focus{
    text-decoration:underline;
}
/* login page starts from here */

.detailbox2{
    display: flex;
    flex-direction: column;
}
.outmostbox2{
    width: 400px;
    /* border: 1px solid; */
    position: absolute;
    left: 630px;
    top: 190px;
    height: 258px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(147deg,#ddd6f3,#faaca8);
    box-shadow: 10px 10px 20px pink;
}
input{
    margin: 10px;
    height: 35px;
    border: 2.5px solid black;
    border-radius: 5px;
    background-color: rgb(238, 232, 235);
    font-size: 20px;
}
.login2{
    /* border: 1px solid; */
    padding:8px ;
    border-top-left-radius: 20px;
}
 .login2 a{
    padding: 5px;
    font-size: 22px;
    text-decoration: none;
}
#login2{
    text-decoration: underline;
}
.subbtn2{
    /* border: 1px solid ; */
    width: 380px;
    margin-left: 9px;
    display: flex;
    flex-direction: column;
}
#subbtn2{
    background-color: hsl(3, 100%, 76%);
}
